<div class="main-display">
  <h1>Wine Description</h1>
  <h2> <%= @wine.name %></h2>
  <h3> <%= @wine.producer %></h3>
  <h4> <%= @wine.year %></h4>
  <i> <%= @wine.grapes %></i>
  <p> <%= @wine.description %></p>
</div>
  